In [1]:
import pandas as pd
import numpy as np
import os, glob

In [189]:
os.chdir("C:/Users/Ganesh P Umarani/Desktop/Optum/Ganesh_Merged_Files/Merged files duplicates/Unique item master files")

In [3]:
mpn_spn=pd.read_csv("either_mpn_spn.csv")

In [11]:
# both mpn and spn present
to_drop_mpn_spn=mpn_spn[(mpn_spn.manufacturer_part_number.notnull()) & (mpn_spn.supplier_part_number.notnull())]

In [13]:
#only mpn
to_drop_mpn=mpn_spn[(mpn_spn.manufacturer_part_number.notnull()) & (mpn_spn.supplier_part_number.isnull())]

In [15]:
#only spn
to_drop_spn=mpn_spn[(mpn_spn.manufacturer_part_number.isnull()) & (mpn_spn.supplier_part_number.notnull())]

In [118]:
to_drop_mpn.columns

Index(['Secondary_key', 'manufacturer_part_number', 'supplier_part_number',
       'product_desc', 'manufacturer_name', 'supplier_name', 'len_char_desc'],
      dtype='object')

In [12]:
len(to_drop_mpn_spn)

12240

In [119]:
len(to_drop_mpn)

316

In [157]:
len(to_drop_spn)

31962

In [165]:
to_drop_spn['len_char_desc'].unique()

array(['30', '29', '28', '15', '25', '33', '37', '26', '79', '91', '22',
       '45', '17', '24', '41', '27', '19', '9', '20', '23', '21', '14',
       '16', '42', '62', '51', '43', '53', '32', '35', '40', '31', '18',
       '39', '36', '34', '0', '13', '6', '8', '10', '11', '55', '63',
       '50', '49', '64', '65', '57', '59', '46', '54', '71', '75', '69',
       '12', '47', '76', '52', '56', '66', '68', '74', '44', '7', '1',
       '61', '48', '72', '73', '67', '38', '58', '60', '5', '70', '4',
       '84', '3', '101', '80', '207', '108', '104', '89', '98', '2',
       '131', '135', '120', '100', '78', '93', '82', '83', '180', '85',
       '127', '117', '148', '150', '95', '77', '99', '88', '96', '105',
       '125', '138', '134', '110', '109', '126', '255', '81', '86', '144',
       '112', '115', '87', '137', '154', '141', '175', '132', '106', '90',
       '92', '121', '113', '194', '107', '241', '216', '239', '114',
       '118', '103', '152', '169', '153', '116', '129', '130', '149',
       '122', '#NAME?', '111'], dtype=object)

In [167]:
to_drop_spn['len_char_desc'].replace(to_replace='#NAME?',value=0,inplace=True)

c:\users\ganesh p umarani\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:6788: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [168]:
to_drop_spn[to_drop_spn.len_char_desc=='#NAME?']

Empty DataFrame
Columns: [Secondary_key, manufacturer_part_number, supplier_part_number, product_desc, manufacturer_name, supplier_name, len_char_desc]
Index: []

In [169]:
to_drop_spn['len_char_desc']=to_drop_spn['len_char_desc'].astype(int)

c:\users\ganesh p umarani\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [117]:
len(result_op)

5820

In [171]:
to_drop_spn.head()

,Secondary_key,manufacturer_part_number,supplier_part_number,product_desc,manufacturer_name,supplier_name,len_char_desc
0,3284,NaN,# 152401,COMET CLEANSER POWDER 21OZ FRO,NaN,OFFICE DEPOT,30
1,3285,NaN,# 152401,COMET DEODORIZING CLEANSER 21,NaN,OFFICE DEPOT,29
2,3287,NaN,# 165076,OFFICE DEPOT BRAND ASSORTED CL,NaN,OFFICE DEPOT,30
3,3288,NaN,# 165076,OFFICE DEPOT BRAND ASSORTED CO,NaN,OFFICE DEPOT,30
4,3290,NaN,# 193259,POST - IT NOTES 3X3 YELLOW LI,NaN,OFFICE DEPOT,29

In [172]:
f = {c: ','.join if c == 'Secondary_key' else 'first' for c in ['Secondary_key']}

to_drop_spn_grouped=to_drop_spn.groupby(['supplier_part_number','supplier_name']).agg({'Secondary_key':f,
                                                                                                  'len_char_desc':'max'}).reset_index()

c:\users\ganesh p umarani\appdata\local\programs\python\python37\lib\site-packages\pandas\core\groupby\generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

In [176]:
to_drop_spn_grouped.head()

  supplier_part_number supplier_name Secondary_key  len_char_desc
0             # 152401  OFFICE DEPOT     3284,3285             30
1             # 165076  OFFICE DEPOT     3287,3288             30
2             # 193259  OFFICE DEPOT     3290,3291             29
3            # 2202337  OFFICE DEPOT     3300,3301             30
4             # 388187  OFFICE DEPOT     3320,3321             30

In [175]:
to_drop_spn_grouped=to_drop_spn_grouped.droplevel(1,axis=1)

In [64]:
# to_drop_mpn_spn_grouped.to_csv("rename_columns.csv")

In [65]:
# to_drop_mpn_spn_join=pd.read_csv("rename_columns.csv")

In [177]:
len(to_drop_spn_grouped)

12604

In [178]:
col_names=['manufacturer_part_number', 'supplier_part_number', 'supplier_name',
       'Secondary_key', 'len_char_desc','product_desc','mfg_name']

In [179]:
result_op=pd.DataFrame(columns=col_names)

In [188]:
result_op.to_csv("spn_only_sk_merged_final.csv")

In [190]:
both=pd.read_csv("mpn_spn_sk_merged_final.csv")

In [191]:
mpn=pd.read_csv("mpn_only_sk_merged_final.csv")

In [192]:
spn=pd.read_csv("spn_only_sk_merged_final.csv")

In [202]:
both.columns

Index(['manufacturer_part_number', 'supplier_part_number', 'supplier_name',
       'Secondary_key', 'len_char_desc', 'product_desc', 'mfg_name'],
      dtype='object')

In [201]:
mpn.columns

Index(['manufacturer_part_number', 'supplier_part_number', 'supplier_name',
       'Secondary_key', 'len_char_desc', 'product_desc', 'mfg_name'],
      dtype='object')

In [200]:
spn.columns

Index(['manufacturer_part_number', 'supplier_part_number', 'supplier_name',
       'Secondary_key', 'len_char_desc', 'product_desc', 'mfg_name'],
      dtype='object')

In [199]:
spn.drop(['Unnamed: 0'],axis=1,inplace=True)

In [206]:
combined=pd.concat(objs=[combined,spn],ignore_index=True,axis=0)

In [221]:
combined.to_csv("all_files_no_dup_refined.csv")

In [207]:
len(combined)

18601

In [208]:
len(both)+len(mpn)+len(spn)

18601

In [219]:
combined['Secondary_key']=combined['Secondary_key'].apply(lambda x: x.replace(',','__'))

In [220]:
combined.head()

,manufacturer_part_number,supplier_part_number,supplier_name,Secondary_key,len_char_desc,product_desc,mfg_name
0,0-52241-78001,1027004,MCKESSON MEDICAL-SURGICAL,6465__6466,28,"WATER, DISTILLED 1GAL (3/CS)",MISTY MOUNTAIN S
1,0-52241-78001,1027004,V11199 MCKESSON MEDICAL SURGICAL - 715,6471,27,WATER DISTILLED 1GAL (3/CA),MISTY MOUNTAIN WATER
2,000 AU/ML,GB70A02 10,GREER LABORATORIES INC.,71747__71748__71749,25,ADJUSMENT - INV PAR ROOMS,NaN
3,000 BAU,GTP27A02 100,GREER LABORATORIES INC.,72618__72619__72620,25,ADJUSMENT - INV PAR ROOMS,NaN
4,000 BAU/ML,GT2A01 10,GREER LABORATORIES INC.,72591__72592,25,ADJUSMENT - INV PAR ROOMS,NaN